/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
  /* CSS Reset above */

  .page {
    background-color: rgba(0, 0, 0, 0.87);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  form {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    box-shadow: rgba(0, 0, 0, 0.397) 1px 1px 10px 5px;
  }

  label {
    display: block;
  }

    
  h1,
  p {
    text-align: center;
    margin-bottom: 15px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select {
    width: 200px;
  }

 

  button {
    outline: transparent;
    border-radius: 30px;
    padding: 15px;
    background-color: rgb(110, 225, 240);
  }

  @media only screen and (min-width: 1000px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
    .background-img {
        background-image: url("img/simone-hutsch-building.jpg");
        background-size: 500px;
        width: 500px;
        height: 100vh;
    }
    
    .main-page {
        height: 100vh;
        background-color: rgb(197, 100, 62);
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

      .form-inputs {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 500px;
        gap: 30px;
        padding: 10px;
      }
      textarea {
        width: 430px;
      }
  
  }