/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
  /* CSS Reset above */

  @font-face {
    font-family: Exo;
    src:url("fonts/exo-regular-webfont.woff2") format(woff2),
        url("fonts/exo-regular-webfont.woff") format(woff);
  }

  .page {
    background-color: #200000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-credit {
    visibility: hidden;
    width: 0;
  }

  form {
    font-family: "Exo", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000000;
    color: #f0f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    box-shadow: #00000065 1px 1px 10px 5px;
  }

  label {
    display: block;
  }

  .form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-input {
    margin-bottom: 20px;
  }
    
  h1,
  p {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .form-head {
    margin-bottom: 35px;
  }

  .instructions {
    font-size: .75rem;
    color:#f0ab2c;
  }


  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  textarea,
  select {
    background-color: #242424;
    appearance: none;
    width: 350px;
    border-style: solid;
    border-radius: 3px;
  }

  input[type="text"]:user-invalid,
  input[type="email"]:user-invalid,
  input[type="password"]:user-invalid,
  input[type="tel"]:user-invalid,
  textarea:user-invalid {
    border-color:#df0000;
    background-color: #df00003a;
  }

  input[type="text"]:focus:invalid,
  input[type="email"]:focus:invalid,
  input[type="password"]:focus:invalid,
  input[type="tel"]:focus:invalid,
  textarea:focus:invalid {
    outline-color:#df0000;
    background-color: #242424
  }

  input[type="text"]:user-valid,
  input[type="email"]:user-valid,
  input[type="password"]:user-valid,
  input[type="tel"]:user-valid,
  textarea:user-valid {
    border-color:#008316;
  }

  input[type="text"]:focus:valid,
  input[type="email"]:focus:valid,
  input[type="password"]:focus:valid,
  input[type="tel"]:focus:valid,
  textarea:focus:valid {
    outline-color:#008316;
  }

  
  button {
    outline: transparent;
    border-color: #634000;
    border-style: solid;
    border-radius: 30px;
    padding: 15px;
    background: linear-gradient(to left, #774d00, #bb7900, #f8cd7d, #bb7900, #774d00);
    text-transform: capitalize;
    font-weight: bold;
  }

  button:hover {
    outline: transparent;
    border-color: #966e00;
    box-shadow: #fdbf4c 0px 0px 15px 5px;
    border-radius: 30px;
    padding: 15px;
    background: linear-gradient(to left, #774d00, #bb7900, #f0ab2c, #bb7900, #774d00);
    cursor: pointer;
    
  }

  input + span,
  textarea + span {
    position: relative;
  }

  input:user-valid + span::before,
  textarea:user-valid + span::before {
    content: "✔";
    color: #008316;
    position: absolute;
  }
  input:user-invalid + span::before,
  textarea:user-invalid + span::before {
    content: "❌";
    color: #df0000;
    position: absolute;
  }

  input + span::before {
    right: 5px;
    top: -3px;
  }

  textarea + span::before {
    right: 5px;
  }

  @media only screen and (min-width: 700px) {
    .form-inputs {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 600px;
        gap: 30px;
    }

    .form-input {
       margin-bottom: 0;
    }

      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="tel"],
      textarea,
      select {
        width: 270px;
      }

      textarea {
        width: 570px;
      }
  }

  @media only screen and (min-width: 1000px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
    .background-img {
        background-image: url("img/casino.jpg");
        background-size: 620px;
        background-repeat: no-repeat;
        width: 620px;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .img-credit {
        visibility: visible;
        color:#503400;
        font-size: 10px;
        width: auto;
    }

    .img-credit a{
        color:#503400;
    }
    
    .main-page {
        height: 100vh;
        background-color: rgb(7, 32, 0);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    label {
        display: block;
      }

      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="tel"],
      textarea,
      select {
        width: 200px;
      }

      textarea {
        width: 430px;
      }
 
  
  }